<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let categoria of categorias">
      <ion-item (click)="toggleCategoria(categoria.id)" class="categoria-header">
        <ion-label>{{ categoria.nome }}</ion-label>
        <ion-icon 
          slot="end" 
          [name]="isExpanded(categoria.id) ? 'chevron-up' : 'chevron-down'">
        </ion-icon>
      </ion-item>

      <div *ngIf="isExpanded(categoria.id)">
        <ion-item *ngFor="let produto of produtosPorCategoria[categoria.id]">
          <ion-label>
            <h2>{{ produto.nome }}</h2>
            <p *ngIf="produto.descricao">{{ produto.descricao }}</p>
            <p class="preco">R$ {{ produto.preco?.toFixed(2) }}</p>
            <p *ngIf="produto.quantidade_disponivel !== null">
              Disponível: {{ produto.quantidade_disponivel }}
            </p>
          </ion-label>
          <ion-button class="adicionar-carrinho" slot="end" (click)="adicionarAoCarrinho(produto)">
            Adicionar
          </ion-button>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
