<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrinho">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comanda">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Comanda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
