<ion-header>
  <ion-toolbar>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Exibe uma mensagem caso o carrinho esteja vazio -->
  <div *ngIf="itensCarrinho.length === 0">
    <p>Seu carrinho está vazio.</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of itensCarrinho">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>Quantidade: {{ item.quantidade }}</p>
        <p>Preço: R$ {{ item.preco | currency }}</p>
      </ion-label>
      <ion-button color="danger" (click)="removerItemDoCarrinho(item)">Remover</ion-button>
    </ion-item>
  </ion-list>

  <div class="total">
    <p>Total: R$ {{ calcularTotal() | currency }}</p>
  </div>

  <ion-button expand="full" (click)="finalizarPedido()">Finalizar Pedido</ion-button>
</ion-content>
