<ion-header>
  <ion-toolbar>
    <ion-title style="display: none;"></ion-title> <!-- Esconde o título -->
    <div class="comanda-registrada" *ngIf="comandaAtual">
      <ion-icon name="wallet-outline"></ion-icon>
      Comanda: {{ comandaAtual.numero }}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itensCarrinho">
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p *ngIf="item.descricao">{{ item.descricao }}</p>
        <p>Quantidade: {{ item.quantidade || 1 }}</p>
        <p>R$ {{ (item.preco * (item.quantidade || 1)).toFixed(2) }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="removerDoCarrinho(item)">
        REMOVER
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="itensCarrinho.length > 0" class="ion-padding">
    <p><strong>Total: R$ {{ calcularTotal().toFixed(2) }}</strong></p>
  </div>

  <!-- Botão de finalizar pedido com a nova classe 'finalizar-pedido' -->
  <ion-button 
  style="--background: #ffcc00 !important; --color: black !important; --border-radius: 20px !important; --box-shadow: none !important;"
  expand="block"
  class="ion-padding"
  (click)="finalizarPedido()"
  [disabled]="itensCarrinho.length === 0">
  FINALIZAR PEDIDO
</ion-button>

  <div *ngIf="itensCarrinho.length === 0" class="ion-padding ion-text-center">
    <p>Carrinho vazio</p>
  </div>
</ion-content>