/* Importar fontes modernas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilo global para fontes */
body {
  font-family: 'Poppins', sans-serif !important;
}

/* Remover fundo do cabeçalho */
ion-header {
  --background: transparent !important;
  padding-bottom: 0px !important;
}

/* Centralizar o logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo-header {
  max-width: 150px;
  max-height: 150px;
  animation: fade-in 1.5s ease-in-out;
}

/* Centralizar os elementos da busca */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  padding: 20px;
}

.search-input-wrapper {
  --background: #3131310c !important;
  --color: #ffffff;
  font-size: 19px !important;
  padding: 12px;
  border-radius: 15px !important;
  box-shadow: none !important;
  width: 80% !important;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-wrapper .search-icon {
  position: absolute;
  left: 12px;
  font-size: 20px;
  color: #ffffff;
}

.search-input-wrapper ion-input {
  border-radius: inherit !important;
  width: 100%;
  text-align: center;
  font-size: 16px !important;
  color: #ffffff !important;
  box-shadow: none !important;
  background: none;
  border: none;
  padding-left: 40px; /* Espaço para o ícone */
}

.search-button {
  --background: #ffcc00 !important;
  --color: black !important;
  --border-radius: 10px !important;
  font-weight: bold !important;
  width: 90%;
  padding: 12px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.search-button:active {
  transform: scale(0.98);
}

/* Animações */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}