<ion-header>
  <div class="logo-container">
    <img class="logo-header" src="assets/Logo-Lirio.png" alt="Logo">
  </div>
</ion-header>

<ion-content>
  <div class="search-container">
    <div class="search-input-wrapper">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <ion-input [(ngModel)]="numeroComanda" type="text" placeholder="Número da Comanda" required></ion-input>
    </div>

    <ion-button class="search-button" expand="block" (click)="registrarComanda()">
      REGISTRAR COMANDA
    </ion-button>
  </div>
</ion-content>